@charset "utf-8";
/* CSS Document */

.kp-app-icon48-call{ background-image:url(images/apps48/call.png);}
.kp-app-icon48-contacts{ background-image: url(images/apps48/contacts.png);}
.kp-app-icon48-safari{ background-image:url(images/apps48/safari.png);}
.kp-app-icon48-sms{ background-image:url(images/apps48/sms.png);}